@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./reset.css");

* {
  box-sizing: border-box;
  font-family: Pretendard;
  -webkit-user-drag: none;
}

.text-overflow-3 {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.text-overflow-12 {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;

  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}
